name: Node macOS Build

on:
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-14

    strategy:
      matrix:
        node: [20, 22, 24]


    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Install Homebrew dependencies
        run: |
          brew install libomp

      - name: Create package
        run: | 
          npm install
          npm pack
          PACKAGE_NAME=$(ls -1t ailoy-*.tgz | head -n 1)
          echo "PACKAGE_NAME=$PACKAGE_NAME"
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV
        working-directory: ${{ github.workspace }}/bindings/js-node
        env:
          OpenMP_ROOT: /opt/homebrew/opt/libomp

      - name: Upload npm package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}.${{ matrix.node }}
          path: ${{ github.workspace }}/bindings/js-node/${{ env.PACKAGE_NAME }}
